.photo-grid {
  width: calc(100% - 48px * 2);
  list-style-type: none;
  margin: 7.2% auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px 16px;
}
