.place {
  display: grid;
  grid-template-columns: 1fr 1.04fr;
  grid-template-rows: repeat(2, auto);
  column-gap: 40px;
  row-gap: 48px;
}
.place:not(:last-of-type) {
  margin-bottom: 80px;
}
@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}
@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
  }
  .place:not(:last-of-type) {
    margin-bottom: 73px;
  }
}
@media screen and (max-width: 650px) {
  .place {
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
  .place:not(:last-of-type) {
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 425px) {
  .place:not(:last-of-type) {
    margin-bottom: 50px;
  }
}
